PORT=3000
NODE_ENV=development
DB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/bildyapp?retryWrites=true&w=majority
JWT_SECRET=
JWT_REFRESH_SECRET=

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret